@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  gap: 40px;
  position: relative;
  width: 350px;
  height: 180px;
  background: #ffffff;
  border-radius: 20px;
  max-width: 100vh;
}
.container {
  z-index: 7;
  padding-bottom: 3rem;
}
.container img {
  display: flex;
  flex-direction: row;
  align-items: self-end;
  padding: 0px;
  width: 177px;
  height: 53px;
}

table th {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2c2c2c;
  text-align: center;
}

table td {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #9395a3;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #595959;
}

h5 {
  width: 148px;
  height: 34px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2c2c2c;
  margin-left: 3rem;
}

.card {
  border: none;
  border-radius: 10px;
}

.c-details span {
  font-weight: 300;
  font-size: 13px;
}

.text1 {
  font-weight: 600;
  font-size: 18px;
  color: #2c2c2c;
}

.heading {
  color: #595959;
}

@media (max-width: 450px) {
  .icon {
    width: 20vw;
    height: 20vw;
    font-size: 10vw;
  }

  .badge span {
    width: 30vw;
    height: 10vw;
    font-size: 5vw;
  }

  .progress {
    height: 0.5vw;
  }

  .text1 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
  }
  .card {
    width: 83%;
    margin-bottom: 10px;
    margin-left: 4.2rem;
    margin-right: auto;
  }
  h5 {
    margin-left: 1rem;
  }
  table th {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #2c2c2c;
    text-align: center;
  }

  table td {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #9395a3;
  }
}
