@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  gap: 40px;
  position: relative;
  width: 350px;
  height: 180px;
  background: #ffffff;
  border-radius: 20px;
  max-width: 100vh;
}
.container {
  z-index: 7;
  padding-bottom: 3rem;
}
.container img {
  display: flex;
  flex-direction: row;
  align-items: self-end;
  padding: 0px;
  width: 177px;
  height: 53px;
}

table th {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2c2c2c;
  text-align: center;
}

table td {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #9395a3;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #595959;
}

h5 {
  width: 148px;
  height: 34px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2c2c2c;
  margin-left: 3rem;
}

.card {
  border: none;
  border-radius: 10px;
}

.c-details span {
  font-weight: 300;
  font-size: 13px;
}

.text1 {
  font-weight: 600;
  font-size: 18px;
  color: #2c2c2c;
}

.heading {
  color: #595959;
}

@media (max-width: 450px) {
  .container {
    width: 100%;
  }

  .card {
    width: 80%;
    margin-left: auto;
    margin-right: 1rem;
  }

  .text1 {
    font-size: 14px;
  }

  h5 {
    font-size: 24px; /* Reduza o tamanho do texto */
    margin-left: 4px;
  }

  table th,
  table td {
    font-size: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    padding: 8px;
    text-align: center;
  }
}
