<div class="forgotpassword login ">
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          <div class="brand">
            <img src="../../../../assets/empresa.png" alt="logo" />
          </div>
          <div class="card fat">
            <div class="card-body">
              <a routerLink="/login" href="" class="float-left">
                <img src="assets/icone.svg" alt=""></a>
              <h4 class="card-title">Redefinir Senha</h4>
              <h5>
                Digite o e-mail associado à sua conta e enviaremos instruções para redefinir sua senha.
              </h5>
              <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group ">
                  <label for="email"></label>
                  <input id="email" type="email" class="form-control mb-5" name="email" required autofocus
                    placeholder="Informe seu e-mail" formControlName="email" />
                </div>
                <div class="form-group m-0 py-3">
                  <button type="submit" class="btn btn-primary btn-block">
                    Enviar Recuperação
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>