@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  width: 84px;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  background: #ebf0fa;
  height: 19px;
  font-style: normal;
  font-weight: 500;
}
.sidebar-header {
  margin-top: 5rem;
}
.img {
  width: 3rem;
  right: 3rem;
  position: absolute;
  margin-right: 4.5rem;
  transition: width 0.3s;
}

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  min-width: 46px;
  width: 250px;
  background: #ffffff;
  color: #a4a4a4;
  box-shadow: 0px 1px 5px rgba(183, 183, 183, 0.4);
  transition: width 0.3s;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.4s;
}

h1 {
  width: 252.07px;
  height: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #b4b6c1;
  margin-top: 3rem;
  margin-bottom: 2rem;
  transition: width 0.3s;
}

#menu ul.components {
  padding: 10px 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
}

#menu ul li a {
  padding: 20px;
  font-size: 1.1em;
  display: block;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
}

#menu ul li a:hover {
  padding: 25px 30px;
  gap: 20px;
  color: #ffffff;
  background: #0073cf;
  border-radius: 7px;
}

li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  transition: width 0.3s;
}

.toggle-button {
  display: block;
  margin-top: 1rem;
}
#menu {
  position: relative;
  top: 0;
  bottom: 0;
  margin-top: 4rem;
}

.wrapper.collapsed #menu {
  width: 84px;
}
.toggle-button:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .toggle-button {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1100;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #b4b6c1;
  }
  .wrapper.collapsed .toggle-button {
    right: calc((150px - 84px) + 10px);
  }
  .wrapper.collapsed {
    width: 1rem;
  }
  #menu ul.components.collapsed {
    display: none;
  }
  .wrapper.collapsed .toggle-button {
    right: 1px;
    top: 2rem;
    transform: translateY(-50%);
    width: 3rem;
  }
}
