<div class="wrapper">
  <nav id="menu">
    <div class="sidebar-header">
      <div class="brand">
        <div class="mt-5 d-flex justify-content-center">
          <img class="img" src="../../../../assets/empresa.png " alt="modellist" />
        </div>
      </div>
    </div>
    <ul class="px-2 mt-5 list-unstyled components">
      <h1 class="p px-4">MENU</h1>
      <div class="active px-3  justify-content-left">
        <li class="">
          <a routerLink="/menu/anchor/dashboard">Dashboard</a>
        </li>
        <li>
          <a routerLink="/menu/anchor/collection-listing">Coleções</a>
        </li>
        <li>
          <a routerLink="/menu/anchor/template-listing">Modelos</a>
        </li>
        <li>
          <a disabled>Obter Ajuda</a>
        </li>
        <li>
          <a disabled>Comentários</a>
        </li>
      </div>
    </ul>
  </nav>
</div>