<div class="wrapper" [ngClass]="{'collapsed': isSmallScreen && !isMenuOpen}">
  <button *ngIf="isSmallScreen" class="toggle-button" (click)="toggleMenu()">&#9776;</button>

  <nav id="menu" [ngClass]="{'active': isMenuOpen}">

    <div [ngClass]="{'collapsed': isSmallScreen && !isMenuOpen}" class="sidebar-header">
      <div class="brand">
        <div class="mt-5 d-flex justify-content-center">
          <img class="img" src="assets/empresa.png" alt="modellist" />
        </div>
      </div>
    </div>
    <ul class="px-2 mt-5 list-unstyled components" [ngClass]="{'collapsed': isSmallScreen && !isMenuOpen}">
      <h1 class="p px-4">MENU</h1>
      <div class="active px-3 justify-content-left">
        <li>
          <a routerLink="/menu/anchor/dashboard" (click)="closeMenu()">Dashboard</a>
        </li>
        <li>
          <a routerLink="/menu/anchor/collection-listing" (click)="closeMenu()">Coleções</a>
        </li>
        <li>
          <a routerLink="/menu/anchor/template-listing" (click)="closeMenu()">Modelos</a>
        </li>
        <li>
          <a disabled (click)="closeMenu()">Obter Ajuda</a>
        </li>
        <li>
          <a disabled (click)="closeMenu()">Comentários</a>
        </li>
      </div>
    </ul>
  </nav>
</div>
