<div class="container mb-3 mt-5">
  <div class="col-md-10 ml-auto px-5 py-5">
    <button routerLink="/menu/anchor/collection-registration" type="button"
      class="heading btn-lg btn-primary float-right mb-2 mt-5">Criar Coleção</button>
    <h5 class="mb-2 mt-5">Coleções</h5>
    <br>
    <div class="row">
      <br>
      <div class="col-md-11 mt-3 ml-auto">
        <div class="card p-3 mb-2">
          <div class="d-flex justify-content-between"></div>
          <div class="mt-2 table-responsive">
            <table class="table">
              <thead class="titles">
                <tr>
                  <th scope="col" class="colecao">Coleção</th>
                  <th scope="col" class="responsavel">Responsável</th>
                  <th scope="col" class="estacao">Estação - Lançamento</th>
                  <th scope="col" class="modelos">Marca</th>
                  <th scope="col" class="orcamento">Orçamento</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <tr *ngFor="let colecao of colecoes" (click)="irParaEdicao(colecao)">
                  <td>{{ colecao.colecao }} </td>
                  <td>{{ colecao.responsavel }}</td>
                  <td>{{ colecao.estacaolancamento }} - {{colecao.anolancamento}}</td>
                  <td>{{ colecao.marca }}</td>
                  <td>R$ {{ colecao.orcamento }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>