@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  gap: 40px;
  position: relative;
  width: 350px;
  height: 180px;
  background: #ffffff;
  border-radius: 20px;
}

button:focus {
  outline: none;
  box-shadow: none;
}

table th {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2c2c2c;
  text-align: center;
}

table td {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #9395a3;
}

h5 {
  width: 148px;
  height: 34px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2c2c2c;
}

.card {
  border: none;
  border-radius: 10px;
}

.heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  font-weight: 600;
  background-color: #0073cf;
  border: none;
}

@media (max-width: 600px) {
  .badge span {
    width: 30vw;
    height: 10vw;
    font-size: 5vw;
  }

  .progress {
    height: 0.5vw;
  }
  .card {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 1.2rem;
    margin-right: auto;
  }
  table th {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2c2c2c;
    text-align: center;
  }

  table td {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #9395a3;
  }
  .container {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
}
