@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  gap: 40px;
  position: relative;
  width: 350px;
  height: 180px;
  background: #ffffff;
  border-radius: 20px;
}

button {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 6px;
}

.btn-secondary {
  background-color: #ebebeb;
  color: #a098ae;
  border: none;
}

.btn-primary {
  border: none;
  background-color: #0073cf;
}

.form-control {
  color: #b4b6c1;
}

img {
  width: 311.94px;
  height: 150px;
  align-items: center;
  text-align: center;
}

h5 {
  width: 185px;
  height: 34px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #2c2c2c;
}

.card {
  border: none;
  border-radius: 10px;
}

.heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  font-weight: 600;
  background-color: #0073cf;
  border: none;
}

@media (max-width: 450px) {
  .container {
    padding: 5px;
  }

  .col-md-10 {
    padding: 0;
  }

  .btn {
    font-size: 14px;
    padding: 0.5rem 1rem;
    margin: 3px;
  }

  .form-control {
    font-size: 14px;
  }

  .card {
    margin-left: 3.5rem;
    margin-right: auto;
    width: 82%;
  }

  h5 {
    font-size: 24px;
    margin-left: 4px;
  }

  img {
    width: 60%;
    height: auto;
  }
  .form-control {
    font-size: 12px;
    padding: 0.2rem;
  }

  input::placeholder {
    font-size: 11px;
    margin-bottom: 1px;
  }
}
