@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  gap: 40px;
  position: relative;
  background: #FFFFFF;
  border-radius: 20px;
}

p {
  color: #B4B6C1;
}

.form-select {
  color: #B4B6C1;
}

.col {
  color: #B4B6C1;
}

.text-body {
  color: #B4B6C1;
}

button {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 6px;
}

.btn-secondary {
  background-color: #EBEBEB;
  color: #A098AE;
  border: none;
}

.btn-primary {
  border: none;
  background-color: #0073CF;
}

.form-control {
  color: #B4B6C1;
}

.btn-bot {
  margin-top: 100px;
}

h5 {
  width: 185px;
  height: 34px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #2C2C2C;
}

.card {
  border: none;
  border-radius: 10px;
}

@media (max-width: 450px) {
  .container {
    padding: 5px;
  }

  .col-md-10 {
    padding: 0;
  }

  .btn {
    font-size: 14px;
    padding: 0.5rem 1rem;
    margin: 3px;
  }

  .form-control {
    font-size: 14px;
  }

  .card {
    margin-left: 3.5rem;
    margin-right: auto;
    width: 82%;
  }

  h5 {
    font-size: 24px;
    margin-left: 4px;
  }

  img {
    width: 60%;
    height: auto;
  }
  .form-control {
    font-size: 12px;
    padding: 0.2rem;
  }

  input::placeholder {
    font-size: 11px;
    margin-bottom: 1px;
  }
}
